.card-set {
  padding-top: 94px;
  padding-bottom: 94px;
}

.card-set__filter {
  @extend %align-items;
  margin-bottom: 50px;
  .button__filter {
    padding: 6px 22px;
    border-radius: 4px;
  }
}

.card-set__item:not(:last-child) {
  margin-right: 8px;
}
