.social-list {
  display: flex;
}

.social-item,
.social-item-join {
  width: 44px;
  height: 44px;
}

.social-item:not(:last-child),
.social-item-join:not(:last-child) {
  margin-right: 10px;
}
.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  color: rgba(175, 177, 184, 1);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover,
.social-link:focus {
  background-color: var(--accent-color);
  color: var(--primary-bg-color);
}

.social-icon {
  fill: currentColor;
}
